/*Generales*/
:root {
    --primary-color: rgb(210, 210, 210);
    --secondary-color: rgb(22, 22, 22);
}

.dark-mode {
    --primary-color: rgb(39, 39, 40);
    --secondary-color: rgb(11, 131, 0);
}

body {
    background-color: var(--primary-color);
    padding: 15px 15px 0px 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

/*Cabecera*/
.cabecera {
    height: 60x;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    z-index: 100;
}

.icono-hamburguer {
    font-size: 34px;
    margin: 28px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 10px;
}

.logo-1 img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.seccion-menu,
.seccion-pedidos,
.seccion-mayorista,
.seccion-contacto {
    font-family: 'Braah One', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: var(--secondary-color);
    white-space: nowrap;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 40px 40px 0px 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-list {
    text-align: center;
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .drop-list {
    display: block;
}

.drop-list a {
    color: var(--primary-color);
    padding: 15px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 19px;
}

.icono-modo {
    height: 26px;
    border-radius: 50%;
    margin: 40px 20px;
    cursor: pointer;
}

/*Sidebar*/

.barra-lateral {
    position: fixed;
    top: 100px;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--secondary-color);
    transition: left 0.3s ease-in-out;
    color: var(--primary-color);
}

.barra-lateral-aparece {
    left: 0;
}

.horario {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 10px;
}

.horario-items {
    margin-bottom: 7px;
}

.reserva {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.reserva-item {
    text-decoration: none;
    color: var(--primary-color);
}

/*Historia del local*/
.historia {
    padding: 30px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.historia-1 {
    margin: 90px -15px 0px -15px;
}

.historia-2,
.historia-3 {
    margin: 50px -15px 0px -15px;
}


.historia h1 {
    font-size: 25px;
    font-family: 'Braah One', sans-serif;
}

.historia-1,
.historia-2,
.historia-3 p {
    font-size: 16px;
    font-weight: 600;
}

.historia-se-mueve {
    padding-left: 280px;
}

/*Carrusel*/
.carousel {
    margin: 50px auto;
    width: 500px;
    height: 500px;
}

.carousel-item {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.carousel-item img {
    border-radius: 15px;
}

/*Footer*/
footer {
    height: 100px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 50px -15px 0px -15px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.logo-se-mueve {
    margin-left: 280px;
}

.iconos-redes {
    display: flex;
    column-gap: 40px;

}

.iconos-redes a {
    margin-bottom: 20px;
}

.icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 26px;
    color: var(--primary-color);
    border-radius: 50%;
    outline: 2px solid var(--primary-color);
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon i {
    margin: auto;
}

.icon:hover i {
    animation: shake 0.25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    outline-color: #a02d76;
}

.icon--mail:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}


@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}